:root {
  --font-primary: p22-mackinac-pro, serif;
  --font-secondary: soleil, sans-serif;
  --font-third: 'Spartan', sans-serif;
  --color-primary: #537BFF;
}

html {
  scroll-behavior: smooth;
}

h1, h2 {
  font-family: var(--font-primary);
  font-weight: 400;
}

p {
  font-family: var(--font-secondary);
  font-weight: 300;
}

.my-max-length {
  margin-left: auto;
  margin-right: auto;
  max-width: 48em;
  width: 100%;
}

.my-padding {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}