---
layout: main
---
<div class="my-max-length my-padding">
<h1 class="gutter text-center tera">Hi, I’m Melany.<br>Graphic Designer & Illustrator specializing in all things design and other stuff too but I can’t think of anything now.</h1>
</div>

<section> 
  <div class="grid grid-top wrapper">

    {% for work in site.data.projects %}
      {% include project-banners.html data=work %}
    {% endfor %}

    <!-- <div class="unit xs-1 img-flex pad-b-2 gutter hover-card">
      <img class="banner-img img-flex push" src="{{site.baseurl}}/images/gee-gees/gee-gees-banner.jpg" alt="">
      <h2 class="giga push-0">Gee-Gees Marketing Materials</h2>
      <p class="milli">Not every project becomes a case study! Take a look at a few of my favourite side projects.</p>
      <div class="arrow-icon">
        <img src="{{site.baseurl}}/images/arrow-icon.svg" alt="">
       </div> 
    </div>

    <div class="unit xs-1 s-1 m-1-2 img-flex gutter hover-card">
      <img class="banner-img img-flex push" src="{{site.baseurl}}/images/wellness/wellness-banner.jpg" alt="">
      <h2 class="giga push-0">Mental Health & Wellness</h2>
      <p class="milli">Not every project becomes a case study! Take a look at a few of my favourite side projects.</p>
      <div class="arrow-icon">
       <img src="{{site.baseurl}}/images/arrow-icon.svg" alt="">
      </div> 
    </div>

    <div class="unit xs-1 s-1 m-1-2 img-flex pad-b-2 gutter hover-card">
      <img class="banner-img img-flex push" src="{{site.baseurl}}/images/hds/hds-banner.jpg" alt="">
      <h2 class="giga push-0">The High Desert Sonnets</h2>
      <p class="milli">Not every project becomes a case study! Take a look at a few of my favourite side projects.</p>
      <div class="arrow-icon">
        <img src="{{site.baseurl}}/images/arrow-icon.svg" alt="">
       </div> 
    </div>

    <div class="unit xs-1 img-flex pad-b-2 gutter hover-card">
      <img class="banner-img img-flex push" src="{{site.baseurl}}/images/youthfully/youthfully-banner.jpg" alt="">
      <h2 class="giga push-0">Youthfully Branding</h2>
      <p class="milli">Not every project becomes a case study! Take a look at a few of my favourite side projects.</p>
      <div class="arrow-icon">
        <img src="{{site.baseurl}}/images/arrow-icon.svg" alt="">
       </div> 
    </div>

    <div class="unit xs-1 s-1 m-1-2 img-flex pad-b-2 gutter hover-card">
      <img class="banner-img img-flex push" src="{{site.baseurl}}/images/cm/creative-mornings-banner.jpg" alt="">
      <h2 class="giga push-0">Creative Mornings Lettering</h2>
      <p class="milli">Not every project becomes a case study! Take a look at a few of my favourite side projects.</p>
      <div class="arrow-icon">
        <img src="{{site.baseurl}}/images/arrow-icon.svg" alt="">
       </div> 
    </div>

    <div class="unit xs-1 s-1 m-1-2 img-flex gutter hover-card">
      <img class="banner-img img-flex push" src="{{site.baseurl}}/images/wellness/wellness-banner.jpg" alt="">
      <h2 class="giga push-0">Mental Health & Wellness</h2>
      <p class="milli">Not every project becomes a case study! Take a look at a few of my favourite side projects.</p>
      <div class="arrow-icon">
       <img src="{{site.baseurl}}/images/arrow-icon.svg" alt="">
      </div> 
    </div> -->

  </div>
</section>