---
layout: main
---
<div class="my-max-length my-padding">
<h1 class="gutter text-center tera">Hi, I’m Melany.<br>Graphic Designer & Illustrator specializing in all things design and other stuff too but I can’t think of anything now.</h1>
</div>

<section class="my-padding-btm"> 
  <div class="grid grid-top wrapper">

    {% for work in site.data.projects %}
      {% include project-banners.html data=work %}
    {% endfor %}

  </div>
</section>

<section class="my-padding-btm"> 
  <div class="grid grid-middle light-background wrapper">
    <div class="unit xs-1 s-1 m-1 l-1-3 gutter shop-text">
      <div class="gutter">
        <h2 class="giga push-1-2">Check Out<br> my Shop!</h2>
        <p class="milli">I’ve recently launched an online shop carrying various products featuring my designs!</p>
        <div>
          <a class="micro ib visit-shop-btn" href="http://melsdesignshop.com">Visit Shop
            <div class="shop-arrow-icon ib gutter-1-2">
              <img src="{{site.baseurl}}/images/arrow-icon.svg" alt="">
            </div> 
          </a>  
        </div>
      </div>  
    </div>
    <div class="unit xs-0 s-0 m-0 l-2-3">
      <img class="img-flex" src="{{site.baseurl}}/images/mels-design-shop-banner.jpg" alt="">
    </div>
  </div>
</section>

<section class="my-padding-btm">
  <div class="text-center">
    <h2 class="giga push-0">There's More!</h2>
    <p class="milli">Not every project becomes a case study! <br>Take a look at a few of my favourite side projects.</p>
    <div class="">
      <a class="micro enter-here-btn ib" href="{{site.baseurl}}/play">Take a Look!</a>
    </div>
  </div>
</section>