<div class="unit xs-1 s-1 {{include.data.gridClass}} hover-card pad-b-2 gutter">
  <a class="ib black" href="{{site.baseurl}}{{include.data.projectLink}}">
    <img class="banner-img img-flex push" src="{{site.baseurl}}/images/{{include.data.projectBanner}}" alt="">
    <h2 class="giga push-0">{{include.data.projectTitle}}</h2>
    <p class="milli">{{include.data.projectShortDescription}}</p>
    <div class="arrow-icon">
      <img src="{{site.baseurl}}/images/arrow-icon.svg" alt="">
    </div> 
  </a>  
</div>